@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

label {
  @apply text-sm lg:text-base text-white/80;
}

input,
textarea {
  @apply w-full border p-2 lg:p-3 rounded-lg bg-white/20 outline-yellow-500 text-white/90;
}

.custom-button {
  @apply border-2  text-base lg:text-xl border-black bg-yellow-300 text-gray-600 px-6 py-2 lg:px-8 lg:py-3 text-center rounded-lg lg:rounded-xl hover:bg-yellow-400 transition cursor-pointer;
}

input[type="checkbox"] {
  @apply !w-4 h-4 lg:!w-5 lg:!h-5 bg-red-300 accent-yellow-200;
}
